# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# genese
/genese
/gn-reports
/quality-reports
/*.js
/src/complexity/*js
/src/complexity/core/const/*.js
/src/complexity/core/enums/*.js
/src/complexity/core/interfaces/*.js
/src/complexity/core/interfaces/ast/*.js
/src/complexity/core/mocks/*.js
/src/complexity/core/models/*.js
/src/complexity/core/services/*.js
/src/complexity/json-ast-to-reports/enums/*.js
/src/complexity/json-ast-to-reports/interfaces/*.js
/src/complexity/json-ast-to-reports/mocks/*.js
/src/complexity/json-ast-to-reports/models/*.js
/src/complexity/json-ast-to-reports/services/*.js
/src/complexity/languages-to-json-ast/**/*.js
/json-ast.json

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Documentation
/documentation

# git
*.orig
