<div id="{{methodName}}">
    <table class="array-report method-table">
        <thead class="method-thead">
            <tr>
                <th class="method-name-column">
                    <span class="strong">{{title}}</span>
                </th>
            </tr>
        </thead>
        <tbody class="method-body">
            <tr class="code-row">
                {{>methodCode code=oldCode}}
                {{>methodCode code=newCode}}
            </tr>
        </tbody>
    </table>
</div>
